#poster-size{
    width: 18rem;
    border: 2px solid black;
}
.flex-property{
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:2rem ; */

    /* RAM */
    display:grid; 
    grid-template-columns: repeat(auto-fit,minmax(18rem, 1fr));
    gap: 0.8rem;
    justify-items: center;
    /* margin-top: 0.2rem; */
    /* grid-wra` */


}
.rating-flex{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    /* flex-wrap:wrap-reverse; */
}
#star-style{
    color: #e1cf09;
}


#btn-icon{
display: flex;
justify-content: center;

}

